<a href="https://colab.research.google.com/github/tnwls6865/cau_deep_learning/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Python의 기본적인 실습 코드

### 기본 문법

1. 변수와 데이터 타입  
변수는 데이터를 저장하는 공간입니다. Python은 변수를 선언할 때 데이터 타입을 명시적으로 지정하지 않고, 값에 따라 타입을 자동으로 결정합니다.

In [ ]:
# 변수 선언 및 데이터 타입 확인
name = "Alice"
age = 25
height = 5.4
is_student = True

print(f"이름: {name}")
print(f"나이: {age}")
print(f"키: {height}")
print(f"학생 여부: {is_student}")

# 데이터 타입 출력
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

이름: Alice
나이: 25
키: 5.4
학생 여부: True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# 변수와 데이터 타입 예시
name = "Alice"          # 문자열 (string)
age = 25                # 정수 (integer)
height = 5.4            # 실수 (float)
is_student = True       # 불리언 (boolean)
address = None          # None (비어 있는 값)

print(f"이름: {name}, 나이: {age}, 키: {height}, 학생 여부: {is_student}, 주소: {address}")

이름: Alice, 나이: 25, 키: 5.4, 학생 여부: True, 주소: None

데이터 타입 변환 예제

In [ ]:
# 데이터 타입 변환 예시
age_str = str(age)  # 정수를 문자열로 변환
height_int = int(height)  # 실수를 정수로 변환 (소수점 이하 제거)

print(f"나이 (문자열): {age_str}, 키 (정수): {height_int}")

나이 (문자열): 25, 키 (정수): 5

연산자(Operators)

산술 연산자: +, -, *, /, //, %, **  
비교 연산자: ==, !=, >, <, >=, <=  
논리 연산자: and, or, not

산술 연산자

In [9]:
a = 10
b = 3

print("Addition (+):", a + b)      # 덧셈
print("Subtraction (-):", a - b)   # 뺄셈
print("Multiplication (*):", a * b)  # 곱셈
print("Division (/):", a / b)      # 나눗셈
print("Floor Division (//):", a // b)  # 몫 (정수 나눗셈)
print("Modulus (%):", a % b)       # 나머지
print("Exponentiation (**):", a ** b)  # 제곱

Addition (+): 13
Subtraction (-): 7
Multiplication (*): 30
Division (/): 3.3333333333333335
Floor Division (//): 3
Modulus (%): 1
Exponentiation (**): 1000

비교 연산자 (Comparison Operators)  
비교 연산자는 두 값을 비교하여 참(True) 또는 거짓(False)을 반환합니다.

In [10]:
x = 5
y = 10

print("Equal to (==):", x == y)    # 같은지 비교
print("Not equal to (!=):", x != y)  # 같지 않은지 비교
print("Greater than (>):", x > y)  # 큰지 비교
print("Less than (<):", x < y)     # 작은지 비교
print("Greater than or equal to (>=):", x >= y)  # 크거나 같은지 비교
print("Less than or equal to (<=):", x <= y)  # 작거나 같은지 비교

Equal to (==): False
Not equal to (!=): True
Greater than (>): False
Less than (<): True
Greater than or equal to (>=): False
Less than or equal to (<=): True

논리 연산자 (Logical Operators)  
논리 연산자는 여러 조건을 결합하여 참(True) 또는 거짓(False)을 반환합니다.

In [11]:
a = True
b = False

print("Logical AND (and):", a and b)  # 두 조건이 모두 참이면 참
print("Logical OR (or):", a or b)    # 둘 중 하나라도 참이면 참
print("Logical NOT (not):", not a)   # 참이면 거짓, 거짓이면 참

Logical AND (and): False
Logical OR (or): True
Logical NOT (not): False

2. 조건문  
조건문은 프로그램이 특정 조건에 따라 다른 행동을 하도록 만듭니다. if, elif, else 키워드를 사용합니다.

In [ ]:
# 조건문 사용 예시
age = int(input("나이를 입력하세요: "))

if age >= 18:
    print("성인입니다.")
else:
    print("미성년자입니다.")

나이를 입력하세요: 28
성인입니다.

In [ ]:
# 점수에 따른 성적 출력
score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("A 학점입니다.")
elif score >= 80:
    print("B 학점입니다.")
elif score >= 70:
    print("C 학점입니다.")
else:
    print("F 학점입니다.")

점수를 입력하세요: 44
F 학점입니다.

In [ ]:
# 나이에 따른 입장료 계산
age = int(input("나이를 입력하세요: "))

if age < 12:
    price = 5
    if age < 5:
        price = 0  # 5세 미만은 무료
else:
    price = 10

print(f"입장료는 {price}달러입니다.")

나이를 입력하세요: 29
입장료는 10달러입니다.

3. 반복문  
반복문은 특정 코드를 여러 번 반복 실행할 때 사용됩니다. for와 while이 대표적인 반복문입니다.

In [ ]:
# for 반복문
print("1부터 5까지 숫자 출력:")
for i in range(1, 6):
    print(i)

# while 반복문
count = 5
print("\nwhile 반복문 예시:")
while count > 0:
    print(count)
    count -= 1

1부터 5까지 숫자 출력:
1
2
3
4
5

while 반복문 예시:
5
4
3
2
1

In [ ]:
# 1부터 10까지 짝수 출력
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
# 사용자가 0을 입력할 때까지 반복
number = int(input("숫자를 입력하세요 (0을 입력하면 종료): "))

while number != 0:
    print(f"입력한 숫자: {number}")
    number = int(input("다시 입력하세요 (0을 입력하면 종료): "))

숫자를 입력하세요 (0을 입력하면 종료): 2
입력한 숫자: 2
다시 입력하세요 (0을 입력하면 종료): 1
입력한 숫자: 1
다시 입력하세요 (0을 입력하면 종료): 0

In [ ]:
# 구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} x {j} = {i * j}")
    print("-" * 10)  # 구분선 출력

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------

In [14]:
# 1부터 10까지의 숫자 중에서 홀수만 출력
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue  # 짝수는 건너뜀
    print(i)

1
3
5
7
9

In [13]:
# `break`를 사용하여 루프 중간에 종료
i = 1
while i <= 10:
    print(i)
    if i == 5:
        break  # i가 5일 때 루프를 종료
    i += 1

1
2
3
4
5

4. 리스트와 리스트 처리  
리스트는 여러 개의 값을 저장할 수 있는 자료형으로, 순서를 유지합니다. 리스트는 []로 정의됩니다.

In [ ]:
# 리스트 예제
fruits = ["apple", "banana", "cherry", "date"]

# 리스트 순회
print("과일 목록:")
for fruit in fruits:
    print(fruit)

# 리스트 길이 확인
print(f"리스트에 {len(fruits)}개의 과일이 있습니다.")

# 리스트 요소 추가 및 제거
fruits.append("elderberry")  # 요소 추가
fruits.remove("banana")  # 요소 제거

print("업데이트된 과일 목록:", fruits)

과일 목록:
apple
banana
cherry
date
리스트에 4개의 과일이 있습니다.
업데이트된 과일 목록: ['apple', 'cherry', 'date', 'elderberry']

In [ ]:
# 인덱스로 접근
print(f"첫 번째 과일: {fruits[0]}")

첫 번째 과일: apple

In [ ]:
# 리스트 정렬 및 슬라이싱 예시
numbers = [3, 6, 1, 8, 2, 5]
sorted_numbers = sorted(numbers)  # 오름차순 정렬
print(f"정렬된 리스트: {sorted_numbers}")

# 슬라이싱
print(f"리스트의 처음 세 개 요소: {sorted_numbers[:3]}")

정렬된 리스트: [1, 2, 3, 5, 6, 8]
리스트의 처음 세 개 요소: [1, 2, 3]

append()
리스트의 끝에 새로운 요소를 추가합니다.

In [15]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

insert()
지정한 위치에 요소를 삽입합니다.

In [16]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")  # 인덱스 1에 'orange' 삽입
print(fruits)

['apple', 'orange', 'banana', 'cherry']

extend()
다른 리스트나 반복 가능한 객체의 모든 요소를 리스트에 추가합니다.

In [18]:
fruits = ["apple", "banana"]
more_fruits = ["cherry", "orange"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'orange']

remove()
리스트에서 첫 번째로 일치하는 요소를 제거합니다.

In [19]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

pop()
지정한 인덱스에 있는 요소를 제거하고 반환합니다. 인덱스를 지정하지 않으면 마지막 요소를 제거하고 반환합니다.

In [21]:
fruits = ["apple", "banana", "cherry"]
fruit = fruits.pop(1)  # 인덱스 1의 요소를 제거하고 반환
print(fruits)  # ['apple', 'cherry']
print(fruit)   # 'banana'

['apple', 'cherry']
banana

index()
리스트에서 특정 요소의 인덱스를 반환합니다. 해당 요소가 없으면 오류가 발생합니다.

In [22]:
fruits = ["apple", "banana", "cherry"]
print(fruits.index("cherry"))

2

count()
리스트에서 특정 요소가 몇 번 나타나는지 반환합니다.

In [23]:
fruits = ["apple", "banana", "cherry", "apple"]
print(fruits.count("apple"))

2

sort()
리스트의 요소를 오름차순으로 정렬합니다. 역순으로 정렬하려면 reverse=True 옵션을 사용할 수 있습니다.

In [24]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

In [25]:
numbers.sort(reverse=True)
print(numbers)

[9, 5, 4, 3, 1, 1]

len()
리스트의 길이(요소의 개수)를 반환합니다. (내장 함수)

In [26]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

5. 튜플  
튜플은 리스트와 비슷하지만, 변경할 수 없는 자료형입니다. 튜플은 ()로 정의됩니다. 리스트보다 빠르며, 데이터가 고정적일 때 사용합니다.

In [ ]:
# 튜플 생성 및 접근
my_tuple = (1, 2, 3, "apple", "banana")

# 요소 접근
print(my_tuple[0])  # 첫 번째 요소
print(my_tuple[-1])  # 마지막 요소

# 튜플 슬라이싱
print(my_tuple[1:3])  # 두 번째 요소부터 세 번째 요소까지

# 튜플은 변경할 수 없기 때문에 요소 추가나 제거 불가
# 그러나 리스트로 변환하여 가능함
my_list = list(my_tuple)
my_list.append("cherry")
my_tuple = tuple(my_list)
print(my_tuple)

1
banana
(2, 3)
(1, 2, 3, 'apple', 'banana', 'cherry')

count()
튜플 내에서 특정 요소가 몇 번 등장하는지 반환합니다.

In [27]:
# count() 예시
fruits = ("apple", "banana", "cherry", "apple", "apple")
print(fruits.count("apple"))

3

index()
튜플 내에서 특정 요소의 첫 번째 인덱스를 반환합니다. 해당 요소가 없으면 오류가 발생합니다.

In [29]:
# index() 예시
fruits = ("apple", "banana", "cherry")
print(fruits.index("banana"))

1

튜플의 len() (내장 함수)
튜플의 길이(요소의 개수)를 반환합니다.

In [30]:
# len() 예시
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

6. 함수  
함수는 재사용 가능한 코드 블록을 정의하는 방법입니다. 매개변수를 통해 값을 함수로 전달할 수 있습니다.

In [ ]:
# 함수 정의
def greet(name):
    return f"Hello, {name}!"

# 함수 호출
name = input("이름을 입력하세요: ")
message = greet(name)
print(message)

이름을 입력하세요: 장수진
Hello, 장수진!

In [ ]:
# 간단한 덧셈 함수
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 3)
print(f"5 + 3 = {result}")

5 + 3 = 8

In [ ]:
# 기본값을 가지는 매개변수
def greet(name="Guest"):
    return f"Hello, {name}!"

print(greet())  # 기본값 사용
print(greet("Alice"))  # 매개변수에 값 전달

Hello, Guest!
Hello, Alice!

7. 딕셔너리  
딕셔너리는 키와 값으로 이루어진 데이터 구조입니다. 각 키는 고유하며, 중복될 수 없습니다. 딕셔너리는 {}로 정의됩니다.

In [ ]:
# 딕셔너리 예제
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# 딕셔너리 값에 접근
print(f"이름: {person['name']}")
print(f"나이: {person['age']}")
print(f"도시: {person['city']}")

# 딕셔너리에 새로운 키-값 추가
person["job"] = "Developer"
print(f"직업: {person['job']}")

이름: John
나이: 30
도시: New York
직업: Developer

In [ ]:
# 딕셔너리 생성
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# 값 추가 및 변경
person["job"] = "Engineer"  # 키-값 추가
person["age"] = 31  # 기존 값 변경

# 딕셔너리 값에 접근
print(f"이름: {person['name']}")
print(f"나이: {person['age']}")

이름: John
나이: 31

In [ ]:
# 딕셔너리 순회 예제
for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 31
city: New York
job: Engineer

8. 파일 입출력  
파일을 읽고 쓰는 방법입니다. open() 함수로 파일을 열고, with 구문을 사용하여 자동으로 파일을 닫을 수 있습니다.

In [ ]:
# 파일 쓰기
with open("example.txt", "w") as file:
    file.write("Hello, Python!\nThis is a simple file.")

# 파일 읽기
with open("example.txt", "r") as file:
    content = file.read()
    print("파일 내용:")
    print(content)

파일 내용:
Hello, Python!
This is a simple file.

9. 클래스와 객체 지향 프로그래밍   
Python은 객체 지향 프로그래밍을 지원합니다. 클래스는 객체를 만들기 위한 청사진이며, 객체는 클래스의 인스턴스입니다.

In [ ]:
# 클래스 정의
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        return f"{self.name} is barking!"

# 객체 생성
my_dog = Dog("Buddy", "Golden Retriever")

# 메서드 호출
print(my_dog.bark())

Buddy is barking!

기본적인 클래스 내 함수 처리  
클래스의 함수는 보통 인스턴스의 속성(데이터)을 처리하거나 반환하는 역할을 합니다.

In [ ]:
class Calculator:
    # 생성자
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    # 두 숫자를 더하는 메서드
    def add(self):
        return self.num1 + self.num2

    # 두 숫자를 곱하는 메서드
    def multiply(self):
        return self.num1 * self.num2

    # 두 숫자 중 큰 숫자를 반환하는 메서드
    def max_value(self):
        return max(self.num1, self.num2)

# 인스턴스 생성
calc = Calculator(10, 20)

# 메서드 호출
print(f"Addition: {calc.add()}")
print(f"Multiplication: {calc.multiply()}")
print(f"Max value: {calc.max_value()}")

Addition: 30
Multiplication: 200
Max value: 20

상태를 업데이트하는 함수 처리  
클래스 내에서 인스턴스 속성을 변경하는 함수(메서드)를 정의할 수 있습니다.

In [ ]:
class BankAccount:
    # 생성자
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    # 입금 메서드
    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount}. New balance: {self.balance}")

    # 출금 메서드
    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds!")
        else:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance: {self.balance}")

# 인스턴스 생성
account = BankAccount("Alice", 1000)

# 메서드 호출
account.deposit(500)
account.withdraw(300)
account.withdraw(1500)  # 잔액 부족 처리

Deposited 500. New balance: 1500
Withdrew 300. New balance: 1200
Insufficient funds!

클래스 간의 함수 호출 및 협력  
클래스는 서로 협력할 수 있으며, 하나의 클래스가 다른 클래스의 메서드를 호출하는 방식으로 협력할 수 있습니다.

In [ ]:
class Engine:
    # 엔진 상태를 설정
    def __init__(self):
        self.status = "off"

    def start(self):
        self.status = "on"
        print("Engine started.")

    def stop(self):
        self.status = "off"
        print("Engine stopped.")

class Car:
    # 자동차는 엔진을 포함함
    def __init__(self, model):
        self.model = model
        self.engine = Engine()  # Engine 객체 포함

    def start_car(self):
        print(f"Starting {self.model}...")
        self.engine.start()

    def stop_car(self):
        print(f"Stopping {self.model}...")
        self.engine.stop()

# 인스턴스 생성
my_car = Car("Tesla Model S")

# 메서드 호출
my_car.start_car()
my_car.stop_car()

Starting Tesla Model S...
Engine started.
Stopping Tesla Model S...
Engine stopped.

메서드에서 다른 메서드를 호출하는 예제  
클래스 내에서는 하나의 메서드에서 다른 메서드를 호출할 수 있습니다. 이를 통해 더 복잡한 처리를 단순화할 수 있습니다.

In [ ]:
class Student:
    def __init__(self, name, scores):
        self.name = name
        self.scores = scores  # 성적 리스트

    # 평균 성적 계산
    def average(self):
        return sum(self.scores) / len(self.scores)

    # 성적 등급을 계산하는 메서드
    def grade(self):
        avg = self.average()
        if avg >= 90:
            return "A"
        elif avg >= 80:
            return "B"
        elif avg >= 70:
            return "C"
        elif avg >= 60:
            return "D"
        else:
            return "F"

    # 성적을 출력하는 메서드
    def print_report(self):
        print(f"Student: {self.name}")
        print(f"Average Score: {self.average()}")
        print(f"Grade: {self.grade()}")

# 인스턴스 생성
student = Student("John", [88, 92, 79, 85])

# 리포트 출력
student.print_report()

Student: John
Average Score: 86.0
Grade: B

매개변수가 있는 메서드 처리  
메서드는 인수(argument)를 받을 수 있으며, 이를 바탕으로 다른 기능을 수행할 수 있습니다.

In [ ]:
class TemperatureConverter:
    # 섭씨를 화씨로 변환하는 메서드
    def celsius_to_fahrenheit(self, celsius):
        return (celsius * 9/5) + 32

    # 화씨를 섭씨로 변환하는 메서드
    def fahrenheit_to_celsius(self, fahrenheit):
        return (fahrenheit - 32) * 5/9

# 인스턴스 생성
converter = TemperatureConverter()

# 메서드 호출
celsius = 25
fahrenheit = 77
print(f"{celsius}°C is {converter.celsius_to_fahrenheit(celsius)}°F")
print(f"{fahrenheit}°F is {converter.fahrenheit_to_celsius(fahrenheit)}°C")

25°C is 77.0°F
77°F is 25.0°C

In [ ]:
# 클래스 상속 예제
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return f"{self.name} makes a sound."

class Dog(Animal):
    def speak(self):
        return f"{self.name} barks."

# Dog 클래스는 Animal 클래스를 상속
dog = Dog("Buddy")
print(dog.speak())

Buddy barks.

클래스 내 메서드와 속성 관리  
클래스 내부에서는 다양한 종류의 메서드를 정의할 수 있습니다. 예를 들어, 정적 메서드, 클래스 메서드 등을 정의해보겠습니다.

In [ ]:
class Circle:
    pi = 3.14159  # 클래스 속성 (모든 인스턴스가 공유)

    # 생성자
    def __init__(self, radius):
        self.radius = radius  # 인스턴스 속성

    # 인스턴스 메서드
    def area(self):
        return Circle.pi * (self.radius ** 2)

    # 클래스 메서드
    @classmethod
    def unit_circle(cls):
        return cls(1)  # 반지름이 1인 Circle 객체를 반환

    # 정적 메서드
    @staticmethod
    def circumference(radius):
        return 2 * Circle.pi * radius

# 인스턴스 생성 및 메서드 호출
circle1 = Circle(5)
print(f"Area of circle1: {circle1.area()}")

# 클래스 메서드 사용
unit_circle = Circle.unit_circle()
print(f"Area of unit circle: {unit_circle.area()}")

# 정적 메서드 호출
print(f"Circumference of circle with radius 3: {Circle.circumference(3)}")

Area of circle1: 78.53975
Area of unit circle: 3.14159
Circumference of circle with radius 3: 18.849539999999998

캡슐화와 getter/setter 사용  
캡슐화는 클래스 내부 데이터를 보호하는 방법입니다. 속성에 직접 접근하지 않고, getter와 setter를 통해 데이터를 안전하게 다룰 수 있습니다.

In [ ]:
class Person:
    def __init__(self, name, age):
        self._name = name  # 속성 앞에 _를 붙여서 보호됨을 나타냄
        self._age = age

    # getter 메서드
    def get_age(self):
        return self._age

    # setter 메서드
    def set_age(self, age):
        if age >= 0:
            self._age = age
        else:
            print("Age can't be negative!")

# 인스턴스 생성
person = Person("Alice", 30)

# getter 사용
print(f"{person._name} is {person.get_age()} years old.")

# setter 사용
person.set_age(35)
print(f"{person._name} is now {person.get_age()} years old.")

# 유효하지 않은 나이 입력 시
person.set_age(-5)

Alice is 30 years old.
Alice is now 35 years old.
Age can't be negative!

매직 메서드 (Magic Methods)  
매직 메서드는 __init__과 같은 특별한 메서드로, 파이썬 클래스의 동작을 사용자 정의할 때 사용됩니다.

In [ ]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    # __str__ 매직 메서드: 객체를 문자열로 표현
    def __str__(self):
        return f"'{self.title}' by {self.author}"

    # __len__ 매직 메서드: len() 함수 사용 시 동작
    def __len__(self):
        return len(self.title)

# 인스턴스 생성
book = Book("The Great Gatsby", "F. Scott Fitzgerald")

# __str__ 메서드 호출
print(book)

# __len__ 메서드 호출
print(f"Title length: {len(book)}")

'The Great Gatsby' by F. Scott Fitzgerald
Title length: 16

10. 예외처리  
Python에서 예외가 발생할 경우 프로그램이 중단되지 않도록 처리할 수 있습니다. try, except, finally를 사용합니다.

In [ ]:
# 예외 처리 예제
try:
    number = int(input("숫자를 입력하세요: "))
    result = 10 / number
    print(f"결과: {result}")
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except ValueError:
    print("유효한 숫자를 입력하세요.")
finally:
    print("프로그램 종료.")

숫자를 입력하세요: 55
결과: 0.18181818181818182
프로그램 종료.